{% extends "base.html" %} {% block head %}
<title>Document</title>
<link rel="stylesheet" href="../../static/css/product.css" />

<style>
  a {
    text-decoration: none !important;
  }
</style>

{% endblock head %} {% block body %}
<nav class="navbar navbar-expand-lg bg-body-dark mt-2 mx-3">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand d-none d-lg-block" href="#">کافی شاپ</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" id="navbarSupportedContent">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="#">نیوکالا</a>

        <button class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mt-3 ms-2 ms-lg-0 mt-lg-0">
            <a class="nav-link" aria-current="page" href="{{url_for('home')}}"
              >خانه</a
            >
          </li>
          <li class="nav-item mt-3 ms-2 ms-lg-0 mt-lg-0">
            <a class="nav-link active" href="{{url_for('user_cart')}}"
              >سبد خرید</a
            >
          </li>
          <li class="nav-item mt-3 ms-2 ms-lg-0 mt-lg-0">
            <a class="nav-link" href="#">درباره ما</a>
          </li>
          <li class="nav-item mt-3 ms-2 ms-lg-0 mt-lg-0">
            <a href="{{url_for('home')}}" class="nav-link">دسته بندی ها</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown-center">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
          />
        </svg>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li class="py-1">
          <a
            class="dropdown-item mb-2 d-flex align-items-center"
            href="{{url_for('user_cart')}}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-cart2 me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
              />
            </svg>
            سبد خرید
          </a>
        </li>
        <li class="py-1">
          <a class="dropdown-item mb-2 d-flex align-items-center" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-bag me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
              />
            </svg>
            تاریخچه سفارش ها</a
          >
        </li>
        <li class="pt-1">
          <a
            class="dropdown-item mb-2 d-flex align-items-center"
            href="{{url_for('profile')}}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-person me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
              />
            </svg>
            حساب کاربری</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item mt-2" href="{{url_for('login')}}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-box-listow-right me-2"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
              />
              <path
                fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
              />
            </svg>
            خروج</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row g-3">
    <div class="col-lg-9 {{display}}">
      <div
        class="border-2 border border-primary mb-3 rounded-1 p-3 d-lg-flex justify-content-between align-items-center {{display}}"
      >
        <div class=" {{display}}">
          <h6 class="d-inline">تعداد کالا ها :</h6>
          <h6 class="d-inline">{{list_price2[0]["quantity"]}}</h6>
        </div>
        <div class="mt-lg-0 mt-5 {{display}}">
          <h6 class="d-inline">جمع سبد خرید :</h6>
          <h6 class="d-inline">{{list_price2[0]["Totalprice"]}}</h6>
        </div>
        <div class="mt-lg-0 mt-5 {{display}}">
          <a
            href="{{display_address}}"
            class="btn btn-success"
            data-bs-toggle="{{display_address2}}"
          >
            تایید و تکمیل سفارش
          </a>

          <div class="modal fade" id="exampleModal" tabindex="-1">
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    آدرس تحویل سفارشات
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('checkout')}}" method="POST">
                    <label
                      for="recipient_name"
                      class="form-label"
                      style="font-size: 14px"
                      >نام تحویل گیرنده</label
                    >
                    <input
                      type="text"
                      style="font-size: 13px"
                      name="recipient_name"
                      id="recipient_name"
                      class="form-control py-2"
                      required
                    />
                    <label
                      for="address_line1"
                      class="form-label"
                      style="font-size: 14px"
                      >آدرس یک</label
                    >
                    <input
                      type="text"
                      style="font-size: 13px"
                      name="address_line1"
                      id="address_line1"
                      class="form-control py-2"
                      required
                    />
                    <label
                      for="address_line2"
                      class="form-label mt-3"
                      style="font-size: 14px"
                      >آدرس دو</label
                    >
                    <input
                      type="text"
                      style="font-size: 13px"
                      name="address_line2"
                      id="address_line2"
                      class="form-control py-2"
                      required
                    />
                    <label
                      for="city"
                      class="form-label mt-3"
                      style="font-size: 14px"
                      >شهر</label
                    >
                    <select name="city" id="city" class="form-select">
                      <option value="">انتخاب شهر</option>
                      <option value="1">تهران</option>
                      <option value="2">مشهد</option>
                      <option value="3">اصفهان</option>
                      <option value="4">شیراز</option>
                      <option value="5">تبریز</option>
                      <option value="6">کرج</option>
                      <option value="7">اهواز</option>
                      <option value="8">قم</option>
                      <option value="9">کیش</option>
                      <option value="10">یزد</option>
                    </select>
                    <label
                      for="state"
                      class="form-label mt-3"
                      style="font-size: 14px"
                      >استان</label
                    >
                    <input
                      type="text"
                      style="font-size: 13px"
                      name="state"
                      id="state"
                      class="form-control py-2"
                      required
                    />
                    <label
                      for="postal_code"
                      class="form-label mt-3"
                      style="font-size: 14px"
                      >کد پستی</label
                    >
                    <input
                      type="text"
                      style="font-size: 13px"
                      name="postal_code"
                      id="postal_code"
                      class="form-control py-2"
                      required
                    />
                    <label
                      for="country"
                      class="form-label mt-3"
                      style="font-size: 14px"
                      >کشور</label
                    >
                    <input
                      type="text"
                      style="font-size: 13px"
                      name="country"
                      id="country"
                      class="form-control py-2"
                      required
                    />
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-danger w-100 d-block"
                        data-bs-dismiss="modal"
                      >
                        بستن
                      </button>
                      <button
                        type="submit "
                        class="btn btn-success w-100 d-block"
                      >
                        تایید
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% for i in product_list %}
    <div
      class="col-md-12 col-lg-9 col-sm-12 animate__animated animate__flipInX"
    >
      <div class="card mb-3 w-100">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="data:image/jpeg;base64,{{ i['picture'] }}"
              class="w-100"
              alt="img"
            />
          </div>
          <div class="col-md-8">
            <div class="card-header">
              <h5 class="card-title">{{i['name']}}</h5>
            </div>
            <div class="card-body">
              <p class="card-text mb-5">{{i['description']}}</p>
            </div>
            <div
              class="card-footer d-flex justify-content-between align-items-center"
            >
              <div class="h-100">
                <h6 class="m-2 py-2 text-success">{{i['price']}} تومان</h6>
              </div>
              <div class="h-100">
                <form
                  action="{{url_for('user_cart')}}"
                  method="POST"
                  class="d-flex align-items-center justify-content-end"
                >
                  <div class="btn-group">
                    <input
                      type="number"
                      value="{{i['quantity']}}"
                      class="w-50 text-center"
                      name="number"
                    />
                    <input
                      type="number"
                      value="{{i['product_id']}}"
                      class="w-50 text-center d-none"
                      name="product_id"
                    />

                    <button class="btn btn-success w-25" type="submit">
                      تایید
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="bg">
    <h3 class="h3">کافی شاپ</h3>
  <div class="loader"></div>
</div>
<script src="../../static/js/script.js"></script>
{% endblock body %}
