{% extends "base.html" %} {% block head %}
<title>reset password</title>

<style>
  ::placeholder {
    font-size: 14px;
  }
  body {
    height: 95vh;
    display: flex;
    align-items: center;
  }
</style>

{% endblock head %} {% block body %}
<div class="container mt-5 p-4 rounded-5" style="background-color: #262a2e">
  <div class="row">
    <h4 class="text-center mt-5">بازنشانی کلمه عبور</h4>
    <div class="col-md-10 offset-md-1">
      <form action="" method="post">
        <label for="username" class="form-label" style="font-size: 14px"
          >نام کاربری</label
        >
        <input
          type="text"
          class="form-control py-2"
          name="username"
          id="username"
          placeholder="نام کاربری"
          required
        />
        <label for="password" class="form-label mt-3" style="font-size: 14px"
          >کلمه عبور</label
        >
        <input
          type="password"
          class="form-control py-2"
          name="password"
          id="password"
          placeholder="کلمه عبور"
          required
        />
        <button
          type="submit"
          class="btn btn-outline-success border-2 w-50 offset-3 mt-4 py-2 mb-5"
        >
          تایید
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock body %}
